@tailwind base;
@tailwind components;
@tailwind utilities;

#tasklist::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
}
#all-tasks::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
}   

/* #admin-dashboard {
  background-image: url("admin.jpg2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

#login-container {
  background-image: url("login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#logo {
  background-image: url("logo.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* tailwind.css or global.css */
.btn-success {
  @apply bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md transition;
}

.btn-danger {
  @apply bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-md transition;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md transition;
}

.btn-outline {
  @apply border border-white text-white px-4 py-2 rounded-md hover:bg-white hover:text-black transition;
}
